{% if cour %}
<h1>{{cour.title}}</h1>
<small>{{cour.former}}</small>
<table>
    <th>
        <td>Nombre d'heures</td>
        <td>Première leçon</td>
    </th>
    <tr>
        <td>{{cour.hours}}</td>
        <td>{{cour.first_lesson}}</td>
    </tr>
</table>

<span> Avis moyen sur le cours: {{cour.note}}/20</span>

<div>
    <button><a href="{% url 'formEdit' cour.id %}">Modifier</a></button>
    <button><a href="{% url 'note' cour.id %}">Noter</a></button>
</div>
<button><a href="/app">retour</a></button>

{% else %}
    <span> aucun cours pour l'identifiant fournis</span>
{% endif %}
